body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header, footer {
    background-color: #333;
    color: white;
    padding: 15px;
}

h1, h2 {
    color: #333;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Флексбоксы ниже*/
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content {
    width: 70%;
    padding: 20px;
}

.sidebar {
    width: 30%;
    background-color: #f0f0f0;
    padding: 20px;
}

@media print {
    body {
        font-size: 14pt;
        background: none;
        color: black;
    }

    a {
        display: none;
    }
}
